/* 初期設定 */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* ヘッダー部分 */
header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
  font-size: 0;
}
.header-image {
  height: 70px;
}
.header-nav {
  float: right;
}
.header-nav > i {
  display: none;
}
.header-ul > li {
  float: left;
  line-height: 70px;
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px;
}


/* メインビジュアル部分 */
main {
  width: 100%;
  background-image: url(img/mv.png);
  height: 650px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
}
main > h1 {
  font-size: 64px;
  color: #FAFAFA;
  margin-bottom: 10px;
}
main > p {
  font-size: 10px;
  color: #FAFAFA;
}

/* ポートフォリオ部分 */
section {
  width: 100%;
  text-align: center;
}
.portfolio {
  background-color: #ECEFF1;
}
.section-portfolio {
  width: 920px;
  padding: 90px 0;
}
h2 {
  font-size: 32px;
  color: #000;
  margin-bottom: 8px;
}
hr {
  width: 70px;
  border: 3px solid #EC715F;
  margin-bottom: 30px;
}
p {
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
}
.portfolio-image {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}
.portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
}
.portfolio-image:nth-child(2) {
  background-image: url(img/websuku.png);
}
.portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
}
.portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
}
.portfolio-image:nth-child(5) {
  background-image: url(img/talk.jpg);
}
.portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/* フィーチャー部分 */
.section-feature {
  width: 980px;
  padding: 90px 0;
  font-size: 0;
}
.feature-box {
  width: 320px;
  display: inline-block;
}
.feature-box > i {
  font-size: 60px;
  margin-bottom: 10px;
}
.feature-box > p {
  text-align: left;
}
h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}
/* E:nth-of-type(n)は、 n番目の1種類の要素にスタイルを適用する */
.feature-box:nth-of-type(2) {
  margin: 0 10px;
}

/* プロフィール部分 */
.section-profile {
  width: 1024px;
  padding: 90px 0;
  font-size: 0;
}
.profile-left {
  width: 512px;
  display: inline-block;
}
.profile-image {
  background-image: url(img/my-icon.jpg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.profile-right {
  width: 512px;
  display: inline-block;
  text-align: left;
}
.profile-right  > h3 {
  text-align: left;
  margin-bottom: 5px;
}

/* コンタクト部分 */
.section-contact {
  width: 800px;
  padding: 90px 0;
}
.contact-center {
  width: 800px;
  margin: 0 auto;
}
.contact-left {
  width: 50%;
  display: inline-block;
  float: left;
}
.contact-right {
  width: 50%;
  display: inline-block;
}
.contact-right, .contact-left  > h3 {
  text-align: left;
  width: 200px;
  margin-bottom: 5px;
}
.contact-left  > a {
  display: inline-block;
  width: 200px;
  text-align: left;
  margin-bottom: 5px;
}
.contact-right i {
  display: inline-block;
  font-size: 50px;
  margin-right: 20px
}

/* フッター部分 */
footer {
  height: 60px;
  background-color: #EC715F;
  text-align: center;
}
footer > p {
  line-height: 60px;
  color: #FAFAFA;
  margin-bottom: 0;
}
/* レスポンス対応 */
@media screen and (max-width:768px) {
  .section-portfolio, .section-feature, .section-profile, .section-contact{
    width: 90%;
    padding: 90px 5%;
  }
  .profile-left, .profile-right, .contact-left, .contact-rgiht {
    width: 100%;
    display: block;
    float: none;
  }
  header {
    height: 50px;
    padding: 0 5%;
  }
  .header-image {
    height: 50px;
  }
  .header-nav > i {
    display: inline-block;
    line-height: 50px;
    font-size: 40px;
    color: #FFF;
   }
  .header-ul {
    display: none;
  }
  /* メインビジュアル部分 */
  main {
    padding: 200px 5% 0;
  }
  main > h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  main > p {
    font-size: 18px;
  }
  /* ポートフォリオ部分 */
  .portfolio {
    background-color: #ECEFF1;
  }
  .section-portfolio {
    padding: 90px 5%;
  }
  .portfolio-image {
    margin-bottom: 10px;
  }
  .portfolio-image:nth-child(6) {
    margin-bottom: 0;
  }
  /* フィーチャー部分 */
  .section-feature {
    padding: 90px 5%;
  }
  feature-box {
    width: 100%;
    display: block;
  }
  /* E:nth-of-type(n)は、 n番目の1種類の要素にスタイルを適用する */
  .feature-box:nth-of-type(2) {
    margin: 0 auto;
  }
  /* プロフィール部分 */
  .section-profile {
    padding: 90px 5%;
    font-size: 0;
  }
  .profile-image {
    margin-bottom: 20px;
  }
  .profile-right  > p {
    text-align: center;
  }

  /* コンタクト部分 */
  .contact-center {
    width: 100%;
  }
  .contact-right, .contact-left  > h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
  .contact-left  > a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact-right i {
    display: inline-block;
    font-size: 50px;
    margin-right: 20px
  }
  /* フッター部分 */
  footer {
    height: 60px;
    background-color: #EC715F;
    text-align: center;
  }
  footer > p {
    line-height: 60px;
    color: #FAFAFA;
    margin-bottom: 0;
  }
}
